extends layout

link(rel='stylesheet', href='/stylesheets/style.css')

block content
  h1(class='center') Express App + Potato
  p(class='center') Welcome to #{title}
  p(class='center') This is an exercise in structuring an application. It is not intended to be a complete application. When finished it will be an Express app with TypeScript using MariaDB and Beaver. It will use Node.js and Jade. I'll implement basic routing and authentication. It was started using the Express generator!!!!!


  a(href="aboutme")
    button(type="button", class='buttons') About Me

  a(href="discoveramagicalworldofpotatoes")
    button(type="button", class='buttons') Discover a Magical World of Potatoes.